@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.blue {
  text-decoration: none;
  color: deepskyblue;
  transition: 0.4s;
  margin: 7px;
  border: #181818 5px solid;
  background-color: dimgray;
  border-radius: 25px;
  padding: 12px;
  display: inline-block;
}

@media (hover: hover) {
  a:hover {
    background-color: darkgray;
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
    place-items: center;
  }

  #app {
    display: block;
    padding: 0 2rem;
    margin: 100px auto;
  }
}
